{% extends '::base.html.twig' %}
{% block title %}
    Эф как сила
{% endblock %}
{% block body %}
    <div class="header">
            <h1 class="header-h1">[Эф] - как сила</h1>
            <blockquote class="quote">
                <p>"Сила правит миром, а не мысль, но мысль пользуется силой." </p>
                <small class="quote-small">Блез Паскаль</small>
            </blockquote>
    </div>

    <div class=" main-block">
        {% if  letters is  not defined %}
            <div class="newton">   </div>

            <div class="right-block">
                <h1 class="right-block-h1">Здравствуй!</h1>
                <div class ="about">
                    <p>Этот сайт  придуман  для  физиков!
                      Он поможет тебе продиктовать друзьям адрес странички в интернете, электронную почту
                        и любые английские слова!</p>
                    <p>Просто введи адрес в поле внизу и нажми на кнопку «перевод»!</p>
                </div>
             </div>
        {% endif %}

            {{ form_start(form, {'attr': {'class': 'form-inline form-styles'}}) }}
            {{ form_errors(form) }}

            {% if  letters is  defined %}
                <div class="btn-home">
                    <a href="{{ path('translate') }}"  title="Home"><span class="btn">Главная</span></a>
                </div>
            {% endif %}

            <div class="input-group">
                {{ form_label(form.text) }}
                {{ form_errors(form.text) }}
                {{ form_widget(form.text, {"attr": {'oninvalid': "setCustomValidity('Поле пустое! Введите данные!')"} } ) }}
            </div>

            <button type="submit" class="btn " >Перевод!</button>

            {{ form_end(form) }}


            {% if  letters is defined %}
                <div>
                    <h3 class="name-answer">Фраза (Адрес):</h3>

                    <ul class="phrase-block">
                            {% set n = 0 %}
                        {% for letter in letters %}
                            {% set n = n + 1  %}

                            {% if letter == " " %}
                                <li class="answer" data-answer-id="{{ n }}">&nbsp;</li>
                            {% endif %}
                            {% if letter != " " %}
                                <li class="answer" data-answer-id="{{ n }}">{{ letter }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </div>
                <div>
                    <h3 class="name-answer name-answer-translate">Перевод:</h3>

                    <div class="teacher"></div>

                    {% set n = 0 %}
                    <div class = 'answer answer-translate'>
                        {% for res in result %}
                            {% set n = n + 1  %}
                            <span  class="answer-{{ n }}">{{ res }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    <p class="footer">&copy;[Эф] - как сила 2014. Все права защищены.</p>
{% endblock %}
